:root {
    --card: linear-gradient(to bottom left, #FFD3E6, #E0BBFF, #B4D8E7, #B2F7C9, #FFFACD, #FFCCCC, #AEC6CF);
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    background: url(assets/img/font.jpg);
    background-size: cover;
    background-position: center;
}

.page {
    background: var(--card);
    width: 90%;
    margin: 5% auto 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 300px;
    padding: 0;
    border-radius: 20px 0 20px 0;
}

.lang {
    margin-left: 15px;
}

.lang a, .lang p {
    display: inline;
    text-decoration: none;
    font-size: 1em;
}

.lang > .lang_active {
    color: blueviolet;
    text-decoration: underline;
}

hr {
    border: none;
    margin: 0px;
    height: 1px;
    background-color: #000000;
}

.top-part {
    padding: 10px;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
}

.top-part > p.name {
    font-size: 25px;
    align-self: center;
    text-align: center;
    margin: 5px;
}

.top-part > img {
    width: 12.5%;
    height: 12.5%;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
}

.bio {
    padding: 1px;
}

.bio p {
    text-align: center;
}

.community {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-community {
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.select-community:hover{
    text-decoration: overline;
}

.select-community-active {
    color: #000000;
    text-decoration: overline;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-box {
    display: flex;
    align-items: center;
    width: 75%;
    margin-top: 20px;
    transition: box-shadow 1s;
    text-decoration: none;
}

.project-box:hover h2 {
    color: #0026ff;
    text-decoration: underline;
    transition: 1s;
}

.project-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.project-info {
    flex-grow: 1; 
    text-decoration: none;
    color: #000000;
}
  
.project-info h2 {
    margin: 0;
    transition: 1s;
}

.blog-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-decoration: none;
    color: #000000;
    transition: 1s;
    margin: 10px;
    border: 1px solid;
    border-radius: 20px;
}

.blog-box img {
    width: 50%;
    height: auto;
    margin: 10px 0;
}

.blog-box p {
    margin: 5px 0;
    text-align: left;
}

.blog-box a {
    margin: 5px 0;
    text-align: left;
}

.blog-box h1 {
    margin: 5px 0;
}

.author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.author img {
    height: 5%;
    width: 5%;
    border-radius: 50%;
    margin-left: 1%;
}


.author .date {
    width: 100%;
    text-align: right;
}

.blog-anal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5px;
}

.blog-anal button {
    background-color: transparent;
    border-color: #ffffff;
    animation: box 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bottom-part {
    border-radius: 0 0 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bottom-part > ul.social {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

ul.social > li {
    margin-right: 10px;
}

ul.social > li:last-child {
    margin-right: 0;
}

li > a {
    font-size: 30px;
}

.version {
  text-align: center;
}

.switch {
    display: inline-block;
    width: 34px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.switch a {
    margin-left: 10px;
    color: #2196F3;
    text-decoration: none;
    transition: color 0.4s, font-weight 0.4s;
}

.switch.on .slider {
    background-color: #2196F3;
}

.switch.on .slider:before {
    transform: translateX(14px);
}

.switch.on a {
    color: green;
    font-weight: bold;
}

.switch a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .profile {
        width: 100%;
        margin: 0 auto;
        border-radius: 0 0 0 0;
    }

    .top-part > p.name {
        font-size: 20px;
    }

    .top-part > img {
        width: 25%;
        height: 25%;
        object-fit: cover;
        border-radius: 50%;
        align-self: center;
    }

    .project-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      margin-top: 20px;
      transition: box-shadow 1s;
      text-decoration: none;
    }

    .project-info {
      flex-grow: 1; 
      text-decoration: none;
      color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .project-info h2, .project-info p {
      margin: 0;
      text-align: center;
    }

    .project-info h2 {
      color: #0026ff;
      text-decoration: underline;
    }

    .project-box {
      animation: box 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .blog-box {
        width: 90%;
    }

    .blog-box img {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .author img {
        height: 15%;
        width: 15%;
    }

    .author .date {
        margin-right: 1%;
    }

    .blog-box p {
        margin-left: 1%;
    }

}